<footer class="bg-dark text-white py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h5>Hotelfire</h5>
        <p>Your Home Away From Home</p>
      </div>
      <div class="col-md-4 mb-3">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a routerLink="/" class="text-white text-decoration-none">Home</a></li>
          <li><a routerLink="/rooms" class="text-white text-decoration-none">Rooms</a></li>
          <li><a routerLink="/about" class="text-white text-decoration-none">About</a></li>
          <li><a routerLink="/contact" class="text-white text-decoration-none">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-4 mb-3">
        <h5>Contact Us</h5>
        <p><i class="fa-solid fa-envelope me-2"></i> supporthotelfire.com</p>
        <p><i class="fa-solid fa-phone me-2"></i> +91 987-654-3210</p>
        <p><i class="fa-solid fa-map-marker-alt me-2"></i> 123 Hotel Street, Mumbai, India</p>
      </div>
    </div>
    <div class="text-center mt-3">
      <p>&copy; 2025 Hotelfire. All Rights Reserved.</p>
    </div>
  </div>
</footer>